@import '../../index.scss';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main {
  flex: 1;
}

.footer {
  background-color: var(--background-light);
  padding: 30px 0;
  text-align: center;
  color: var(--text-light);
  border-top: 1px solid var(--border-color);
}